
<html>
  <head>
    <link rel="stylesheet" href="/javascripts/bootstrap/dist/css/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="/javascripts/jquery/dist/jquery.js"></script>
    <script src="/javascripts/angular/angular.js"></script>
    <script src="/javascripts/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/angular-animate/angular-animate.js"></script>
    <script src="/javascripts/angular-cookies/angular-cookies.js"></script>
    <script src="/javascripts/angular-messages/angular-messages.js"></script>
    <script src="/javascripts/angular-resource/angular-resource.js"></script>
    <script src="./javascripts/angular-route/angular-route.js"></script>
    <script src="/javascripts/angular-sanitize/angular-sanitize.js"></script>
    <script src="/javascripts/angular-touch/angular-touch.js"></script>
    <script src="/javascripts/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <script src="/javascripts/lodash/lodash.js"></script>
    <script src="/javascripts/angular-ui-router/angular-ui-router.min.js"></script>
     <title>Characters of Asmundr</title>
  </head> 

  <body ng-app="myApp">
  
    <div class="row">  
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Characters of Asmundr</a>
            </div>
            <div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#/home">Home</a></li>
                <li><a href="#/comments">All comments</a></li>                                
                <li><a href="#/about">About</a></li>                           
              </ul>
            </div>
          </div>
        </nav>
        </div>
    <div class="page-wrap">
      <ui-view></ui-view>       
    </div>
    
    
    <script type="text/ng-template" id="/home.html">     
      <div class="col-md-9 col-md-offset-3">
        <div class="page-header">
          <h1>Characters of Asmundr</h1>
          <a href="http://asmundr-comic.thewebcomic.com/archive/">Tribute to the webcomic Asmundr</a>          
        </div>
        <div ng-repeat="character in characters">         
          <span style="font-size:15px; margin-left:10px;">            
              <b>Name :</b> {{character.name}} -                   
              <b>Breed :</b> {{character.breed}} -         
              <b>Gender :</b> {{character.gender}} -         
              <b>Age :</b> {{character.age}} -
          </span>
          <span>
            <a href="#/characters/{{$index}}">Comments</a> -
          </span>  
          <span>
            <a href="#/delete/:id" ng-click="deleteCharacter(character._id)">
            Delete</a> -         
          </span>
          <span>
            <a href="#/edit/{{$index}}">Edit</a>            
          </span>      
        </div>       
      </div>
      <div class="col-md-4 col-md-offset-3">
        <form ng-submit="addCharacter()" style="margin-top:30px;margin-left:10px;">

           <h3>Add a new character</h3>

           <div class="form-group">
             <input type="text"
               class="form-control"
               placeholder="Name"
               ng-model="name"></input>
           </div>
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Breed"
             ng-model="breed"></input>
           </div>
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Gender"
             ng-model="gender"></input>
           </div>
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Age"
             ng-model="age"></input>
           </div>
           <button type="submit" class="btn btn-primary">Post</button>
        </form>        
      </div>
    </script>

    <script type="text/ng-template" id="/characters.html">
      <div class="page-header" style="margin-left:10px;">
        <span style="font-size:20px; margin-left:10px;">            
              <b>Name :</b> {{character.name}} -                   
              <b>Breed :</b> {{character.breed}} -         
              <b>Gender :</b> {{character.gender}} -         
              <b>Age :</b> {{character.age}}
        </span>         
      </div>      

      <div ng-repeat="comment in filterComments(character._id)">       
                
        <span style="font-size:15px; margin-left:10px;"> 
          <button type="submit" class="btn btn-link" ng-click="incrementUpvotes(comment)">
            <span class="glyphicon glyphicon-thumbs-up"></span>
          </button>            
          {{comment.upvotes}} &nbsp
          <b>{{comment.author}}</b> : {{comment.body}}
        </span> &nbsp &nbsp
        <span><a href="#/deleteComment/:id" ng-click="deleteComment(comment._id)">
            Delete</a></span>

      </div>
      
      <form ng-submit="addComment()" style="margin-top:30px; margin-left:10px;">
        <h3>Add a new comment</h3>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Comment" ng-model="body"></input>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>      
    </script>

    <script type="text/ng-template" id="/delete.html">
      <div class="page-header" style="margin-left:30px;">
        <h3>
          Character successfully deleted!
        </h3>
      </div>           
    </script>

    <script type="text/ng-template" id="/edit.html">     
      <div class="page-header" style="margin-left:10px;">
        <span style="font-size:20px; margin-left:10px;">            
              <b>Name :</b> {{character.name}} -                   
              <b>Breed :</b> {{character.breed}} -         
              <b>Gender :</b> {{character.gender}} -         
              <b>Age :</b> {{character.age}}
          </span>
      </div>

      <div class="col-md-4 col-md-offset-3">
        <form ng-submit="editCharacter(character._id, character)" style="margin-top:30px;margin-left:10px;">
           <h3>Edit character</h3>

           <div class="form-group">
             <input type="text"
               class="form-control"
               placeholder="Name"
               ng-model="character.name"></input>
           </div>
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Breed"
             ng-model="character.breed"></input>
           </div>
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Gender"
             ng-model="character.gender"></input>
           </div>
           <div class="form-group">
             <input type="text"
             class="form-control"
             placeholder="Age"
             ng-model="character.age"></input>
           </div>
           <button type="update" class="btn btn-primary" data-toggle="modal" data-target="#editConfirmation">
           Save changes</button>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="editConfirmation" role="dialog">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Character updated!</h4>
                </div>                
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                  Close</button>
                </div>
            </div>
          </div>
        </div>

      </div>      
    </script>
    
    <script type="text/ng-template" id="/comments.html">     
        <div class="col-md-9 col-md-offset-3">
          <div class="page-header">
            <h1>All comments</h1>           
          </div>           
          <div ng-repeat="comment in comments">                     
            <span style="font-size:15px; margin-left:10px;"> 
              <button type="submit" class="btn btn-link" ng-click="incrementUpvotes(comment)">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>            
             {{comment.upvotes}} &nbsp
              <b>{{comment.author}}</b> : {{comment.body}}
            </span> &nbsp &nbsp
            <span><a href="#/deleteComment/:id" ng-click="deleteComment(comment._id)">
              Delete</a></span>
          </div>
        </div>
    </script>

    <script type="text/ng-template" id="/deleteComment.html">
      <div class="page-header" style="margin-left:30px;">
        <h3>
          Comment successfully deleted!
        </h3>
      </div>           
    </script>

    <script type="text/ng-template" id="/about.html">
      <div class="page-header" style="margin-left:30px;">
        <h3>
          About
        </h3>
      </div> 
       
      <div  class="col-md-9 col-md-offset-3" style="font-size:17px; margin-left:10px;">
        The author of this webapp is <b>Anqi Tong</b>.
        </br>
        </br>
        This MEAN webapp is a tribute the Asmundr webcomic.
        </br>
        It is implemented by following this tutorial :
        <a href="https://thinkster.io/mean-stack-tutorial">Learn to Build Modern Web Apps with MEAN
        </a>
        </br>
        You can get the source code here : 
        <a href="https://github.com/anqitong/Node-Angular-Express-MongoDB">link to my Github repository
        </a>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>Register</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="register()"
        style="margin-top:30px;">
        <h3>Register</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
      </form>
    </script>

    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>Log in</h1>
      </div>

      <div ng-show="error" class="alert alert-danger row">
        <span>{{ error.message }}</span>
      </div>

      <form ng-submit="logIn()"
        style="margin-top:30px;">
        <h3>Log In</h3>

        <div class="form-group">
          <input type="text"
          class="form-control"
          placeholder="Username"
          ng-model="user.username"></input>
        </div>
        <div class="form-group">
          <input type="password"
          class="form-control"
          placeholder="Password"
          ng-model="user.password"></input>
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
    </script>


  </body>
</html>